.app-header {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  background-color: var(--background-card);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: var(--border-radius);
}

.header-right {
  color: var(--text-light);
  font-size: 1rem;
}
